/*******************************
    ELEMENT STYLES
********************************/

h1,
h2 {
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    letter-spacing: 1px;
}

ol,
ul {
    list-style-type: none;
    padding-left: 0;
}


/********************************
    BASIC LAYOUT & PAGE STYLES
*********************************/

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #444;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}


.container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}


/**************************
    ABOUT LAYOUT
***************************/

.my-name {
    padding-left: 10px;
}

.multicol {
    column-width: 450px;
    column-gap: 20px;
    line-height: 1.8;
    padding: 10px;
}

.multicol p {
    font-size: 1.1875rem;
    margin: 0 0 1em 0;
}

.portrait {
    background: url('/images/matheus-ferrero-551834-unsplash.jpg') no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 350px;
    margin: 0 auto;
    width: 350px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex > * {
    flex: 1 1 250px;
    margin: 10px;
}

.middle {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2em auto;
}

.intro-desc {
    font-size: 1.875rem;
    line-height: 1.25;
}

.another-img img {
    height: auto;
    width: 100%;
}

.skills-donut-chart {
    width: 10px;
}

.skills-key {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
}

.skill-color {
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    z-index: 3;
}

.skill-web {
    background: #5934f6;
}

.skill-ui {
    background: #663354;
}

.skill-mobile {
    background: #20604b;
}


/**************************
    WORK LAYOUT
***************************/

.entries {
    flex-wrap: wrap;
}

.entry {
    margin: 1em 0;
}

.entry-img,
.entry-copy {
    flex: 1;
}

.entry-copy {
    padding: 0 1.5rem;
}

.entry-copy p {
    font-size: 1rem;
    line-height: 1.6;
}

.entry-img img {
    height: auto;
    width: 100%;
}


/**************************
    IMAGES
***************************/

.item img {
    height: auto;
    width: 100%;
}


/**************************
    MAIN NAV
***************************/

.main-header,
.main-nav {
    display: flex;
    flex-direction: column;

}

.main-header {
    justify-content: space-between;
    padding-top: 2em;

}

.main-nav {
    font-size: 	1.125rem;
    letter-spacing: 1px;
    list-style-type: none;
    margin-top: 1.5em;
    text-decoration: none;
}

.main-nav a {
    color: #444;
    display: block;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.125em;
    font-weight: 700;
    padding: .4em;
    text-align: center;
    text-decoration: none;
}

.main-nav a:hover {
    color: #EF7B45;
}

.site-logo {
    align-self: center;
}

img {
    height: 90px;
}

/**************************
    FOOTER
***************************/

.footer {
    border-top: 1px solid #CDEDF6;
    flex: 1;
    height: 100px;
    margin: 100px 0 30px 0;
}

.copyright {
    font-size: 1rem;
}

.socials {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 30%;
}

.socials a {
    text-decoration: none;
}

.socials a:hover {
    color: #EF7B45;
}



/**************************
    MEDIA QUERIES
***************************/

@media (min-width: 769px) {

    .main-header,
    .main-nav,
    .entries,
    .entry,
    .footer {
        display: flex;
    }

    .main-header {
        align-items: center;
        height: 200px;
        justify-content: flex-end;
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-between;
        margin: 2em 0 4em 0;
        padding-left: 0;
    }
}

@media (max-width: 750px) {
    .socials {
        flex-direction: column;
    }

    .socials li {
        margin: 10px 0 10px 0;
    }
}



@media (min-width: 1025px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .site-logo {
        margin-right: auto;
    }

    .main-nav {
        margin-top: 0;
    }

    .main-nav li {
        margin-left: .65em;
        margin-right: .65em;
    }

}
